/* Change the background color of the toolbar */
.toolbar {
    background-color: #a11321; /* Change to your desired color */
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  /* Default styles for text and icons */
  .nav-icon {
    margin-right: 8px;
    color: white;
  }
  
  /* Hide text on small screens */
  .nav-text {
    display: none;
    color: white;
    font-size: 16px;
  }
  
  /* Display text on larger screens */
  @media (min-width: 600px) {
    .nav-text {
      display: inline;
    }
    .nav-icon {
        font-size: 24px; /* Adjust the font size as needed */
      }
    
  }
  