<div class="post-container">
  <div *ngIf="allPublicPosts.length > 0; else noPosts" class="posts-grid">
    <div *ngFor="let post of allPublicPosts" class="post-card">
      <div class="post-header">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="post-body">
        <div *ngIf="post.image" class="post-image-container">
          <img [src]="post.image" [alt]="post.title" class="post-image">
        </div>
        <p>{{ post.description }}</p>
      </div>
      <div class="post-footer">
        <p class="post-date">Posted on: {{ post.date }}</p>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center m-4">
        <p class="mb-3">You don't have any posts. Start posting.</p>
        <a routerLink="/addPost" class="btn goToPost btn-primary">
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </div>
  </ng-template>
  
</div>
