.post-container {
  margin: 20px;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.post-details {
  margin: 10px;
}

.post-image {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}
