<div id="mainDiv" class="mainDiv">
    <div id="mainContainer" class="mainContainer">
      <h1>LogIn</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" />
        <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
          <div *ngIf="email?.errors?.['required']">Email is required</div>
          <div *ngIf="email?.errors?.['email']">Please enetr a valid email</div>
        </div>

        <label for="password">Password</label>
        <input type="password" formControlName="password" />
        <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">Password is required</div>
       
        <button type="submit" class="loginBtn" [disabled]="!loginForm.valid">Login</button>
      </form>
      <div id="signupLink" class="signupLink">
        <p>Don't have an Account. Click here to<a routerLink="/signup"> Signup</a></p>
      </div>
    </div>
  </div>
  